# PostgreSQL Connection URL for backend configurations storage
DATABASE_URL=postgresql://sujith:Sujith@123@localhost:5432/mds

# JWT Authentication secret key
JWT_SECRET=your_jwt_secret_key_minimum_length_8

# Symmetric encryption key for database passwords at-rest
ENCRYPTION_KEY=your_at_rest_encryption_key_minimum_length_8

# Backend port
PORT=3000
